/* body {
    background-color: antiquewhite;
} -> 연결확인 */

.bestsellers-section {
    /* background-color: #6a726d; */
    max-width: 1920px;
    padding: 124px 80px;
    display: flex;
    flex-direction: column;
}

/* 베스트 셀러 상단 */

.ul-nav-box {
    padding:  65px 0;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E1DED9;
}

.nav01 {
    padding: 0;
    font-weight: bold;
    font-size: 28px;
}




/* 스와이프 목록 */
.amp_swiper-list {
    /* background-color: #919b95; */
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.swli {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #E1DED9; */
    flex-grow: 1;
}

/* 스와이프 이미지 */
.swimg {
    height: 410px;
    background-color: #E1DED9;
    /* border: 1px solid #6a726d; */

}

/* 스와이프 텍스트 */

.swtext01 {
    height: 19px;
    /* display: flex; */
    padding: 40px 0 42px 0;
}
.swtext02 {
    display: flex;
    height: 63px;
    padding-bottom: 40px;
    align-items: flex-start;
    gap: 10px;
}

.swtext03 {
    padding: 14px 0 24px 0;
    border-top: 1px solid #E1DED9;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.swtsize  {
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: center; */
    gap: 17px;
}

.swtext04 {
    border: 1px solid #E1DED9;
    /* background-color: #6a726d; */
    display: flex;
    height: 43px;
    width: 100%;
    justify-content: center;
    align-items: center;
}